*.pyc
settings_local.py
*.db
*.log
google*.html

demovibes/urls.pickle
demovibes/registration/captcha_data.py
demovibes/secretsmileys.py

templates/local/*
templates/jinja/local/*

static/media
static/news/
static/off/
static/biebervibes
static/flags/polan.png
static/js/april
static/themes/amcbain
