* {
	font-family: sans-serif;
	font-size: 8pt;
}

.olh_wrapper 	{
		width: 604px;
		min-height: 800px;
		margin: 15px;
		}
.olh_item	{ 
		overflow:auto; 
		} 
.olh_user	{
		width: 150px;
		float: left;
		margin: 0;
		padding: 0;
		min-height: 50px;
		}

.olh_message	{
		width: 450px;
		float: right;
		margin: 0;
		padding: 0;
		min-height: 50px;
		}

.olh_pages	{
		text-align: justify;
		font-family: sans-serif;
		/*font-size: 8px;*/		
		}

.bbquote	{
		font-style: italic;
		}

.bbcode		{
		font-family: monospace;
		display: block;
		border: 1px dotted #000;
		padding: 10px;
		margin-left: 25px;
		margin-right: 25px;
		line-height: 12px;
		font-style: italic;
		background: #e2e2e2;
		}

pre
{
	font-family: "rez ascii", "Lucida Console", monospace;
}

html
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: none;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #c0c0c0;
	font-size: 9pt;
}

html#transparent
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: none;
	position: absolute;
	left: 0;
	top: 0;
	background: transparent;
}
body {
	font-size: 9pt;
}

body#site
{
	width: 100%;
	/* height: 350px; */
	margin: 0;
	padding: 0;
	border: none;
	position: absolute;
	left: 0;	
	top: 0;
	overflow: visible;
	background-color: #a0a0a0 !important;
	background-image: url("trackerpatternAAA.png");
	/* background-image: url("http://voidon.republika.pl/4cvgm/style_gray/trackerpattern.png"); for #808080 */
	background-repeat: repeat-x;
}

h1, h2, h3
{
	border-width: 1px;
	border-top-color: #eee;
	border-left-color: #ccc;
	border-right-color: #888;
	border-bottom-color: #444;
	border-style: solid;
	background-color: rgb(80,71,68);
	/* background-image: url("/static/shine.png"); */
	background-image: url("shine.png");
	background-position: center center;
	background-repeat: repeat-x;
	color: #fff;
    border-top: #a29d97 solid;
    border-left: rgb(162, 157, 151) solid;
    border-bottom: #000 solid;
    border-right: #757575 solid;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-width: 0px;
}

.headline
{
	vertical-align: middle;
}

.date
{
	position: absolute;
	right: 8px;
	bottom: .25ex;
	font-size: 9pt;	
	color: #eee;
}

h1
{
	font-size: 15pt;
}

h2
{
	font-size: 12pt;
	position: relative;
	vertical-align: middle;
}

div.pmview {
	vertical-align: top;
	border: 1px solid #aaa;
	background-color:#ddd;
	width: 85%;
}

p
{
	margin: 0;
	margin-top: 1em;
}

a
{
	text-decoration: none;
    font-weight: bold;
}

a:link
{
	color: #000000;
}

a:visited
{
	color: #003344;
}

a:hover
{
	text-decoration: underline;
}

.header a:link {
	color: #eee;
}

.header a:visited {
	color: #ddd;
}

.header a:hover {
	color: #ccf;
}

img
{
	border: 0;
	vertical-align: bottom;
}

#rightside
{
	float: right;
	display: inline;
	position: relative;
	width: 200px;
	margin: 8px;
	border-width: 1px;
	border-top-width: 0px;
	border-style: solid;
	border-color: #ccc;
	border-top-color: #ccc; /* stupid ie */
	border-right-color: #444;
	border-bottom-color: #444;
	background-color: transparent;
	/* background-color: #bbb; */
	background-image: url("bland.png");
	text-align: center;
	display: inline;
}

#sidebar
{
	float: left;
	display: inline;
	position: relative;
	width: 200px;
	margin: 8px;
	padding-bottom: 10px;
	border-width: 1px;
	border-top-width: 0px;
	border-style: solid;
	border-color: #ccc;
	border-top-color: #ccc; /* stupid ie */
	border-right-color: #444;
	border-bottom-color: #444;
	/* background-color: #bbb; */
	background-color: transparent;
	background-image: url("bland.png");
	text-align: center;
	display: inline;
}

h3
{
	margin: -1px;
	font-size: 9pt;
	text-align: center;
	margin-bottom: 1ex;
}

#rightside ul
{
	padding: 0;
	margin-top: 1ex;
	margin-bottom: 2ex;
	display: inline-block;
	list-style-type: none;
	text-align: left;
}

#rightside ul li
{
	background-position: 0px 50%;
	background-repeat: no-repeat;
	min-height: 16px;
	padding-left: 16px;
	display: block;
}

#sidebar ul
{
	padding: 0;
	margin-top: 1ex;
	margin-bottom: 2ex;
	display: inline-block;
	list-style-type: none;
	text-align: left;
}

#sidebar ul li
{
	background-position: 0px 50%;
	background-repeat: no-repeat;
	min-height: 16px;
	padding-left: 16px;
	display: block;
}

#home 		{background-image: url("/static/house.png");}
#songs		{background-image: url("/static/music.png");}
#song-source		{background-image: url("/static/sound.png");}
#song-platform		{background-image: url("/static/sound.png");}
#artists	{background-image: url("/static/user_green.png");}
#compilations	{background-image: url("/static/recplay_ico.png");}
#recent	        {background-image: url("/static/new.png");}
#recentchanges  {background-image: url("/static/page_white_edit.png");}
#menuqueue	{background-image: url("/static/script.png");}
#search		{background-image: url("/static/find.png");}
#forum		{background-image: url("/static/user_comment.png");}
#faq		{background-image: url("/static/comment.png");}
#profile	{background-image: url("/static/user.png");}
#favorites	{background-image: url("/static/heart.png");}
#register	{background-image: url("/static/page_white_edit.png");}
#logout		{background-image: url("/static/door_out.png");}
#login		{background-image: url("/static/door_in.png");}
#admin		{background-image: url("/static/door.png");}
#inbox		{background-image: url("/static/email.png");}
#unap-artists		{background-image: url("/static/user_green.png");}
#unap-groups		{background-image: url("/static/group.png");}
#unap-compilations    {background-image: url("/static/recplay_ico.png");}
#unap-labels            {background-image: url("/static/transmit_blue.png");}
#unap-links     {background-image: url("/static/link.png");}
#unap-nju     {background-image: url("/static/tick.png");}
#groups		{background-image: url("/static/group.png");}
#labels            {background-image: url("/static/transmit_blue.png");}
#links		{background-image: url("/static/link.png");}
#screenshots		{background-image: url("/static/icon_screenshot.png");}
#unap-screenshots     {background-image: url("/static/icon_screenshot.png");}
#licenses 		{background-image: url("/static/page_white_edit.png");}
#chat		{background-image: url("/static/lips.png");}


#forum, #favorites, #logout
{
	margin-bottom: 1em;
}

p.pmtitle {
    font-weight: bold;
}

#sidebar li a
{
	margin-left: 1ex;
	color: #333;
}
#rightside li a
{
	margin-left: 1ex;
	color: #333;
}

#rightside a:hover 
{
	color: #004;
}

#sidebar form
{
	display: block;
	padding: 0;
	padding-top: 1ex;
	margin: 0;
	border: none;
	white-space: nowrap;
}

#sidebar a:hover 
{
	color: #004;
}

#blah
{
	display: inline-block;
	width: 176px;
	padding: 0;
	margin: 0;
	padding-right: 11px;
	border: 1px #888 solid;
	border-right-color: white;
	border-bottom-color: white;
	height: 16px;
	background-color: transparent;
	background-image: url("hilight.png");
	background-position: center;
}

#makeitso
{
	border: none;
	width: 16px;
	margin-left: -16px;
	background-color: transparent;
	background-image: url("/static/comment.png");
	background-repeat: no-repeat;
	background-position: center center;
	padding-left: 8px;
	padding-right: 8px;
}

#oneliner
{
	margin: 8px;
	margin-top: 0;
	margin-bottom: 2ex;
	text-align: left;
	overflow: hidden;
}

.onelinerpre {
	font-family: "snap", "rez ascii", "Lucida Console", monospace;
}

.lastreqdate {
	white-space:nowrap;
}

.onelinertext {
	/*font-family: "snap", "rez ascii", "Lucida Console", monospace;
	margin: 7px;
	letter-spacing: -0.2px; */
}

.onelinertext img {
	vertical-align: middle;
}

#main
{
	position: relative;
	margin: 7px;
	margin-left: 215px;
	margin-right: 215px;
	padding: 0;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 1ex;
	padding-top: 0px;
	border-width: 1px;
	border-style: solid;
	border-color: #DDD;
	border-top-color: #ddd; /* stupid ie */
	border-right-color: #444;
	border-bottom-color: #444;
	border-bottom-style: double;
	border-bottom-width: 3px;
	border-top-width: 0px;
	/* background-color: #CCC; */
	background-color: transparent;
	background-image: url("http://voidon.republika.pl/4cvgm/style_gray/mainbland.png");
	background-position: center;
}

#main h1, #main h2
{
	margin-left: 6px;
	margin-right: 6px;
	margin-bottom: 1ex;
	padding-left: 8px;
	padding-right: 0px;
}

#main h1
{
	margin-top: 0px;
	margin-left: -1px;
	margin-right: 0px;
	padding: 0;
	padding-left: 1ex;
	padding-right: 1ex;
	font-variant: small-caps;
	font-stretch: wider;
	text-align: center;
}

#main h2
{
	margin-top: 16px;
	margin-left: 0px;
	margin-right: 0px;
}

#main p
{
	margin-left: 8px;
	padding-left: 8px;
	padding-right: 8px;
}

#logo
{
	display: block;
	margin-left: auto;
	margin-right: auto;

}

.countryflag
{
    margin:-2px 2px 1px 1px;
    vertical-align:middle; 
}

.platform_icon
{
    vertical-align: middle;
    /*margin-left: 1px;*/
	margin-right: 1px;
	background-image: url("glow.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.label_icon
{
    vertical-align: middle;
    /*margin-left: 1px;*/
	margin-right: 1px;
	background-image: url("glow.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.group_icon
{
    vertical-align: middle;
    /*margin-left: 1px;*/
	margin-right: 1px;
	background-image: url("glow.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.comp_icon
{
    vertical-align: middle;
    /*margin-left: 1px;*/
	margin-right: 1px;
	background-image: url("glow.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.text-link
{
    vertical-align: middle;
    margin-left: 1px;
    margin-right: 1px;
}

.song-resource
{
    vertical-align: middle;
    margin-left: 1px;
    margin-right: 1px;
}

.user-resource
{
    vertical-align: middle;
    margin-left: 1px;
    margin-right: 1px;
}

.lastreqdate {
	white-space:nowrap;
}

.icon_header
{
	padding: 1ex;
	padding-top: 4px;
	padding-bottom: 4px;
	vertical-align: middle;
	margin: 0;
	border: 0;
	background-image: url("glow.png");
	background-repeat: no-repeat;
	background-position: center center;
}

#main ul
{
	margin: 0;
	padding: 0;
	margin-left: 3em;
	list-style-type: disc;
	list-style-position: outside;
	display: block;
}

#main ul.imgbull li
{
	list-style-type: none;
	background-position: 0px 50%;
	background-repeat: no-repeat;
	min-height: 16px;
	margin-left: -3.5ex;
	padding-left: 3.5ex;
}

#copyleft, #copyright
{
	display: block;
	font-size: 7pt;
	position: relative;
	bottom: -3ex;
	margin: 0;
}

#copyleft
{
	float: left;
}

#copyright
{
	float: right;
}

#copyleft a, #copyright a
{
	color: #210;
}

#validator
{
	position: absolute;
	right: 1px;
	top: 1px;
}

/* froumzz */

#djangoForumBreadcrumbs, .pages
{
    margin-bottom: 1em;
}

.pagesBottom
{
    margin-top: 1em;
	text-align: right;
}

#djangoForumList,
#djangoForumThreadList
{
	width: 99%;
	margin: auto;
	border-width: 1px;
	border-style: solid;
	border-color: #ccc;
	border-top-color: #fda; /* stupid ie */
	border-right-color: #444;
	border-bottom-color: #444;
	border-collapse: collapse;
	background-color: transparent;
	background-image: url("/static/hilight.png");
	background-position: center;
}

#djangoForumList th,
#djangoForumThreadList th,
#djangoForumThreadPosts th
{
	padding: 0;
	padding-left: 8px;
	padding-right: 8px;
	border-width: 1px;
	border-top-color: #a29d97;
	border-left-color: #a29d97;
	border-right-color: #757575;
	border-bottom-color: #757575;
	border-style: solid;
	background-color: #99948d;
	background-image: url("/static/shine.png");
	background-position: center center;
	background-repeat: repeat-x;
    text-align: left;
	color: #210;
}

#djangoForumList td,
#djangoForumThreadList td
{
	padding: 0;
	border-width: 1px;
	border-style: solid;
	border-color: #a29d97;
	border-top-color: #a29d97; /* stupid ie */
	border-right-color: #757575;
	border-bottom-color: #757575;
}

.djangoForumListDetails,
.post
{
	background: #ddd;
}

.djangoForumListDetails p
{
	margin: 0;
}

#djangoForumList .djangoForumListDetails .djangoForumStats
{
	position: relative !important;
	position: static; /* ha! lost stupid ie6 again! */
	z-index: 5;
	float: right;
	margin-top: -12pt;
	padding-right: 8px;
	font-size: 7pt;
}

.forumName
{
	display: block;
	position: relative !important;
	position: static; /* ha! */
	z-index: 10;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 12pt;
	font-size: 12pt;
}

.djangoForumListDetails .forumDescription
{
	display: block;
	position: relative !important;
	position: static; /* ha! */
	z-index: 5;
	margin-top: -12pt;
	padding: 0;
	padding-left: 8px;
	padding-right: 8px;
	margin-right: 100px;
}

#djangoForumList .djangoForumListDetails
{
	width: 70%;
	padding: 0;
}

#djangoForumList td,
#djangoForumThreadList td
{
	padding-left: 8px;
	padding-right: 8px;
}

.djangoForumListDetails
{
	padding: 0;
}

#djangoForumThreadList td
{
	width: 5%;
	text-align: center;
}

#djangoForumThreadList .djangoForumThreadListName
{
	width: 60%;
	text-align: left;
	background: #ddd;
}

#djangoForumList .djangoForumListLastPost,
#djangoForumThreadList .djangoForumThreadLastPost
{
	width: 30%;
	text-align: left;
}

#djangoForumThreadList .djangoForumThreadListName
{
	padding: 0;
	background: #ddd;
}

.threadName
{
	display: block;
	line-height: 2em;
	padding-left: 8px;
	padding-right: 8px;
}

#djangoForumThreadPosts
{
	width: 99%;
	margin: auto;
	border: 0;
	border-collapse: collapse;
	background-color: transparent;
	background-image: url("/static/hilight.png");
	background-position: center;
}

#djangoForumThreadPosts td
{
	padding-left: 8px;
	padding-right: 8px;
}


#djangoForumThreadPosts .djangoForumThreadPostDetail
{
	vertical-align: top;
	border-left: 1px solid #ddd;
	padding-top: 1em;
}

#djangoForumThreadPosts
{
}

#djangoForumThreadPosts .postfooter
{
	border-left: 1px solid #ddd;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	text-align: right;
}

#djangoForumThreadPosts .postfooter td:first-child
{
	text-align: left;
	font-size: 7pt;
}


#djangoForumThreadPosts .post
{
	vertical-align: top;
	padding-top: 1em;
	border: 0;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	width: 85%;
}

.post p
{
	margin: 0;
	margin-bottom: 1em;
}


#newThread
{
	width: 99%;
	margin: auto;
}

#newThread .label
{
	text-align: right;
	vertical-align: top;
}

#newThread #postThread
{
	text-align: center;
}


#newThread #postThread
{
	text-align: center;
}

table.songlist {
	border-collapse: collapse;
	border-spacing: 0px;
}

table.songlist td {
	padding: 0px;
	padding-left: 5px;
	padding-right: 5px;
}

table.songlist th {
	padding: 3px;
}

table.songlist tr.row1 td {
/*	background-color: #FCfcfc;*/
	background-color: #d0d0d0;
}

table.songlist tr.row2 td {
/*	background-color: #e1e1e1; */
	background-color: #c8c8c8;

}

#whosonline {
	line-height: 135%;
}

#whosonline span {
	white-space: nowrap;
}

.bubbleInfo {
	position: relative;
}

.popup {
	position: absolute;
	background-color: #fff;
	border-color: #1f60d6;
	border-style: solid;
	padding: 5px;
	z-index:10;
	border-radius: 10px;
	display: none; /* keeps the popup hidden if no JS available */
} 

table.recentchanges {
	vertical-align:text-top;
	/*border-collapse: collapse;*/
	border-spacing: 2px;
	width: 90%;
}

table.recentchanges td {
	vertical-align:text-top;
	padding: 2px;
	padding-left: 18px;
	padding-right: 18px;
}

.recent_icon_header
{
	padding: 1ex;
	padding-top: 4px;
	padding-bottom: 4px;
	vertical-align: middle;
	margin: 0;
	border: 0;
	background-image: url("glow.png");
	background-repeat: no-repeat;
	background-position: center center;
}
.messagetitle {
	background-color: #000;
	color: #f00;
	padding-left: 8em;
	font-size: 12px;
	color: #f00; /* Text Colour */
	font-family: Consolas, Andale Mono, monospace;
	font-weight: bold;
	text-align: center;
}
.messageholder {
    background-color: #000;
	opacity: 1.0;
	padding-left:  8em;
	padding-right: 8em;
}
.messagefade {
        background-color: #000;
}
.messagebox {
	border: 2px solid #f00;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 5px;
	border-right-width: 5px;
	border-color: #f00;
	right: 0px;
	left: 0px;
	width: auto;
}

.messagesetting-save, .messagesetting-cancel {
	border-top-color: #EEE;
	border-left-color: #EEE;
	border-right-color: #888;
	border-bottom-color: #888;
}

.messagesetting-save:hover, .messagesetting-cancel:hover {
	background-color: #CCC;
}

.messagesettingsbox {
	color: #000;
	background-color: #BBB;
	font-weight: bold;
	padding: 5px;
	border: 2px solid #888;
	border-width: 1px;
	border-top-color: #EEE;
	border-left-color: #EEE;
}
	
.messagetitle-flash {
	font-size: 12px;
	background-color: #400;
}
.messagetime,.messagecat,.messagetext {
	padding-right: 4em;
	font-size: 12px;
	color: #f00; /* Text Colour */
	font-family: Consolas, Andale Mono, monospace;
	font-weight: bold;
}

.messagetext  a {
	color: #f00 !important;
	text-decoration: underline;
}

.message-remove {
	font-size: 12px;
	font-family: Consolas, Andale Mono, monospace;
	font-weight: bold;
}
	
/* select, input, textarea { */
#id_file, #id_title, #id_release_year, #id_remix_of_id, #id_groups, #id_labels, #id_info, #id_type,
#id_platform, #id_pouetid, #id_ytvidid, #id_ytvidoffset, #id_artists,
#id_LL_1, #id_LL_2, #id_LL_3, #id_LL_4, #id_LL_5, #id_LL_6, #id_LL_7, #id_LL_8, #id_LL_9, #id_LL_10,
#id_LL_11, #id_LL_12, #id_LL_13, #id_LL_14, #id_LL_15, #id_LL_16, #id_LL_17, #id_LL_18, #id_LL_19,
#id_LL_1_comment, #id_LL_2_comment, #id_LL_3_comment, #id_LL_4_comment, #id_LL_5_comment, #id_LL_6_comment,
#id_LL_7_comment, #id_LL_8_comment, #id_LL_9_comment, #id_LL_10_comment, #id_LL_11_comment, #id_LL_12_comment,
#id_LL_13_comment, #id_LL_14_comment, #id_LL_15_comment, #id_LL_16_comment, #id_LL_17_comment, #id_LL_18_comment,
#id_LL_19_comment,
#id_infoline, #id_visible_to, #id_web_page, #id_aol_id, #id_yahoo_id, #id_icq_id, #id_twitter_id, #id_hol_id,
#id_country, #id_location, #id_avatar, #id_fave_id, #id_theme, #id_custom_css, #id_info
{
	background-color: #eee;
	border: solid 1px #888;
	border-bottom: solid 1px #fff;
	border-right: solid 1px #fff;
	color: #000;
}

#id_title {
	width: 40em;
}
	
#formvote  input , .queuesongimage {
	border: none;
	background-color: transparent;
}

.starbutton {
	min-height: 24px;
	height: 24px;
    display: table-cell;
    vertical-align: top;
	color: transparent;
}

.queuesongbutton {
	cursor: pointer;
	width: 25ex;
}
