{% extends "base/base.html" %}

{% block main %}
<h2><img class="icon_header" src="{{ MEDIA_URL }}tick.png" alt="" />Accounts to activate</h2>

<table border=1>
<tr>
	<th>Username</th>
	<th>Email</th>
	<th>Date Joined</th>
	<th>Approve / Reject</th>
</tr>
{% for p in accounts %}
<tr>
    <td>{{ p.user.username }}</td>
    <td>{{ p.user.email }}</td>
    <td>{{ p.user.date_joined }}</td>
    <td>
        <form method="post" action=".">
            <input type="hidden" name="okid" value="{{ p.id }}">
            <input type="submit" value="Activate" name="doactivate">
            <input type="submit" value="Remove" name="doremove">
        </form>
    </td>
</tr>
{% endfor %}
</table>
</form>
{% endblock %}
