{% extends "base/base.html" %}

{% block main %}
<h2><img class="icon_header" src="{{ MEDIA_URL }}tick.png" alt="" />Activated</h2>{# Note : blatant lie. No checking is done #}
<p><b>Thanks for verifying your email address.</b></p>
<p><u>However, as an additional anti-spam measure, all new accounts require admin approval</u> before they can be be used for login.  An email with your details has been sent to the site admins.  Someone will look over your information and activate your account shortly.<br /></p>
<p>You will be able to login as soon as the account is approved.  Thanks for your patience!<br /></p>
Login at <a href="/account/signin/">log in</a> page using your requested user name and password.
{% endblock %}
