{% extends "base/base.html" %}

{% block main %}
<h2><img class="icon_header" src="{{ MEDIA_URL }}user_edit.png" alt="" />New User Registration</h2>
<p><b>READ ME</B></P>

<ol>
	<li>Political or offensive usernames will not be approved. You will not receive a rejection letter if this happens, so choose carefully.</li>
	<li>Don't use a throwaway email address. The email address you supply here will be used for password recovery, and optionally to forward your
		PMs. It will not be displayed anywhere on the site.</li>
	<li>Admins are busy so it may be a day or two before we get back to you, but we will. :) 
	</li>
</ol>

<form action="." method="post">
<table>
{{ form.as_table }}
</table>
<input type="submit" value="Register" />
</form>
{% endblock %}

