{% import "macro/display.html" as display -%}
<html>
<head><title>{{ song }} {{ gettext("playing") }}</title>
	{% if not song.prelisten().exists() %}
	<meta http-equiv="refresh" content="10">
	{% endif %}
</head>
<body>
<p>{{ gettext("Song") }}: {{ display.song(song) }}</p>
{% set songurl = song.get_download_url(user) %}
{% if song.prelisten().exists() %}
<audio controls>
	<source src="{{ song.prelisten().url() }}"/>
</audio>
{% else %}
<p>Generating audio for prelistening... please refresh in a minute or two.</p>
{% endif %}
<a href="{{ songurl }}">Download song</a>
{% if limit != None %}<p>This song link will only be valid for <b>60</b> seconds after this window was opened.</p>{% endif %}
{% if limit %}
<p>Number of previews left : {{ limit }}</p>
{% endif %}
</body>
</html>
