body#site {
    font-family: verdana,arial,geneva,sans-serif;
    font-size: 8pt;
}

#blah {
    font-size: 0.85em;
}

#sidebar ul li  {
    min-height: 15px;
}

#rightside ul li {
    min-height: 15px;
}

.messageholder {
    font-size: 1em;
}
